*::after,::before{
    margin: 0;
    padding: 0;
}
body{
    background: url('../images/librarybookshelf.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: arial;
}

div.loginHeader{
    text-align: center;
}
div.loginHeader{
    margin-bottom: 150px;
}
div.loginHeader h1{
    font-size: 100px;
    color:#224601;
    padding:0px;
    margin:0px;
}
div.loginHeader p{
    color:#557735;
    font-size: 50px;
    margin:0px;
    text-transform: uppercase;
    display: inline-block;
}

div.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #224601;
    margin:0 auto;
}

div.loginBody form{
    margin:0 auto;
    border-radius: 15px;
    width: 300px;
  height: 100px;
  padding: 50px;
    background: rgba(0,0,0,.5);
}

footer {  
    text-align: center;
    padding: 5px;
    background-color: #224601;
    color: white;
   
    width: 100%;
  }


